---
    interface Props{
        text: string,
        URL: string,
        isBlank?: boolean
    }

    const {text, URL, isBlank = true}:Props = Astro.props;
---

{isBlank ? 
    <li>
    	<a href={`https://${URL}`} target="_blank" rel="noopener noreferrer" class="hover:underline decoration-burgundy-800 tracking-tighter underline-offset-2">{text}</a>
    </li>
:
    <a href={URL} class="hover:underline decoration-burgundy-800 tracking-tighter underline-offset-2">{text}</a>
}