---
    import Layout from "@layouts/Layout.astro";
---

<Layout title="Error" bigText="Error">
    <main class="flex flex-col items-center px-12 text-center">
        <h1 class="text-6xl tracking-wide font-semibold border-b-2 border-[#E9EDDE]/25 w-fit pb-2 px-4">We've come across an error <span class="text-burgundy-900">:(</span></h1>
        <div class="text-lg py-2">
            <p>We know errors suck, and we're tremendously sorry for it. We'll help you get back on track though!</p>
            <p>Make sure whatever URL you entered was correct, spelling and all. If you end up back here, the page might have been removed or is just down at the moment. Just send an email to any of the lovely people listed at the bottom of the page and let us know what happend! We'll get back to you as fast as we can, and hopefully we can fix the problem.</p>
        </div>
        <p class="text-lg border-t-2 border-[#E9EDDE]/25 pt-2 px-4">Have a wonderful day!</p>
        <p class="flex text-xl items-center italic tracking-tight">
            <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 0 448 512" fill="currentColor" class="text-burgundy-900 mr-1">
                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
            </svg>
            The Prescott Team
        </p>
    </main>
</Layout>