---
    import Layout from "@layouts/Layout.astro";
    const URL[]: string = [];

    Astro.url.pathname.split("/").map((text) => {
        URL.push(text);
    });
---

<Layout title="Clubs | DnD" bigText="Dnd">
    <p>{URL[0]}</p>
</Layout>
